html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol, nav ul, nav li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
ol, ul{list-style: none; margin: 0px; padding: 0px;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none;}
table {border-collapse: collapse; border-spacing: 0;}

a {text-decoration: none;}
.txt-rt {text-align: right;}
.txt-lt {text-align: left;}
.txt-center {text-align: center;}
.float-rt {float: right;}
.float-lt {float: left;}
.clear {clear: both;}
.pos-relative {position: relative;}
.pos-absolute {position: absolute;}
.vertical-base {vertical-align: baseline;}
.vertical-top {vertical-align: top;}
nav.vertical ul li {display: block;}
nav.horizontal ul li {display: inline-block;}
img {max-width: 100%;}

body {
	font-family: 'Open Sans', sans-serif;
	background: url(../images/banner.jpg) no-repeat 0px 0px;
	background-size: cover;
}
.header {
    text-align: center;
    margin-top: 2em;
}
.header h1 {
    font-size: 3em;
    color: rgba(7, 6, 11, 0.63);
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}
.header-content {
    text-align: center;
    margin-bottom: 1em;
}
.header-content h2 {
    font-size: 1em;
    color: #fff;
    font-weight: 700;
	font-family: 'Open Sans', sans-serif;
}
.generator-noc {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    -webkit-appearance: none;
    background-color: rgba(7, 6, 11, 0.63);
    padding: 2em;
    border-radius: 3px;
    opacity: 100%;
}
.generator-noc h1 {
    text-align: center;
    font-size: 3em;
    color: #fff;
    font-weight: 400;
	font-family: 'Open Sans', sans-serif;
}
.generator-noc h2 {
    text-align: center;
    font-size: 1em;
    color: #fff;
    font-weight: 700;
	font-family: 'Open Sans', sans-serif;
}
.generator-noc input[type="text"], .generator-noc textarea {
    width: 96%;
    padding: 0.6em;
    background: #fff;
    color: #000;
    border: none;
    outline: none;
    font-size: 0.95em;
    border-top: 3px solid #0c6da2;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    font-family: 'Open Sans', sans-serif;
}
.generator-noc select {
    margin-top: 0.1em;
    width: 103%;
    padding: 0.6em;
    color: #000;
    border: none;
    outline: none;
    font-size: 0.95em;
    border-top: 3px solid #0c6da2;
    border-radius: 3px;
    background: url(../images/arrow.png) no-repeat right #fff;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    -webkit-appearance: none;
    font-family: 'Open Sans', sans-serif;
}
.row {
    margin: 0.8em 0;
}
.row1 {
    margin-top: 0.8em;
}
.generator-left {
    float: left;
	width: 46%;
    margin-right: 6%;
}
.generator-right-l {
    float: left;
    width: 46%;
}
.generator-noc textarea {
    resize: none;
    height: 150px;
}
.generator-noc label {
    font-size: 0.95em !important;
    color: #fff !important;
	margin-bottom: 8px;
	display: block;
	font-weight: 600;
}
.generator-noc input[type="submit"] {
    font-size: 1em;
    padding: 0.8em;
    display: block;
    margin-top: 1.5em;
    outline: none;
    background: #0c6da2;
    color: #fff;
    border: none;
    width: 99.5%;
	cursor: pointer;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
	border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
	 font-family: 'Open Sans', sans-serif;
}
.generator-noc input[type="submit"]:hover {
	   background: #fff;
	   color:#000;
}
.footer-agile {
    text-align: center;
    padding: 4em 0;
}
.footer-agile p {
    font-size: .9em;
    color: #fff;
    margin: 0px;
	line-height:1.8em
}
.footer-agile p a {
    color: #fff;
}