<!DOCTYPE HTML>
<html>
	<head>
		<title>NoC Generator</title>
		<link rel="shortcut icon" href="{{url_for('static', filename='images/favicon.ico')}}" />
		<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
		<link href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet" type="text/css" media="all"/>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale = 1, maximum-scale = 1">
		<meta http-equiv="Content-Type" content="text/html; charset = utf-8" /> 
		<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'></head>
		<link href='//fonts.googleapis.com/css?family=Candal' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<div class="main-content">
			<div id="main" class="generator-noc">
				<form action="#" method="post">
					<h1 id="generator"><b>NoC Generator</b></h1>
					<div class="header-content">
						<h2 id="simulation"><b>Simulation</b></h2>
					</div>
					<div class="generator-left">
						<label for="topology">Topology</label>
						<select class="row" id="topology" onChange="disableField()">
						  	<option value="0">Mesh</option>
						  	<option value="1">Ring</option>
						</select>
					</div>
					<div class="generator-right-l">
						<label for="file-output">Output</label>
							<select class="row" id="file-output">
								<option value="0">JSON</option>
								<option value="1">XML</option>
							</select>
						</div>
					<div class="row">
						<div class="generator-left">
							<label for="num-lines">Lines</label>
								<input type="text" class="num-lines" id="num-lines" name="num-lines" placeholder="Number of lines">
						</div>
						<div class="generator-right-l">
							<label for="num-columns">Columns</label>
							<input type="text" class="num-columns" id="num-columns" name="num-columns" placeholder="Number of columns">
						</div>
						<div class="clear"></div>
					</div>
					<input type="submit" id="generate" value="Generate">
				</form>
			</div>
		</div>
		<script>
			window.onload = function() {
  				document.getElementById('topology').value = 0;
				document.getElementById('file-output').value = 0;
				document.getElementById('num-lines').value = '';
				document.getElementById('num-columns').value = '';
			}
		</script>
		<script>
			var disableField = function() {
				if(document.getElementById("topology").value == 1) {
			  		document.getElementById("num-columns").disabled = true;
					document.getElementById("num-columns").value = 0;
					document.getElementById('num-lines').value = '';
			  	}
			  	else {
			  		document.getElementById("num-columns").disabled = false;
					document.getElementById('num-lines').value = '';
					document.getElementById('num-columns').value = '';
				}
			}
		</script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
		<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<script>
			var socket = io.connect('http://' + document.domain + ':' + location.port)
			socket.on('connect', function() {
				socket.emit('noc_generated_event', {data: 'User Connected'});
			  	var form = $('form').on('submit', function(emit) {
					emit.preventDefault();
					var elementTopology = document.getElementById("topology");
					var topology = elementTopology.options[elementTopology.selectedIndex].value;
					var elementFileOutput = document.getElementById("file-output");
					var fileOutput = elementFileOutput.options[elementFileOutput.selectedIndex].value;
					let numLines = $('input.num-lines').val();
					let numColumns = $('input.num-columns').val();
					socket.emit('noc_generated_event', {
				  		topology: topology,
				  		file_output: fileOutput,
				  		num_lines: numLines,
				  		num_columns: numColumns,
					});
					$('input.message').val('').focus();
			  	})
			});
			socket.on('noc_generated_response', function(msg) {
				console.log(msg);
				if(typeof msg.topology !== 'undefined') {
					$('div.generator-noc')
						.queue(function () {
							$('div.generator-noc input').remove();
							$('div.generator-noc select').remove();
							$('div.generator-noc label').remove();
							$('#simulation').fadeOut(250, function () {
								$(this).text('Result').fadeIn(250);
							});
							$(this).dequeue();
						})
						.animate({top: '50%', height: '80%', width: '90%'}, 500)
				}
			})
			socket.on('noc_generated_result', function(msg) {
				console.log(msg);
				$('div.generator-noc').append('<div><h2>' + msg + '</h2></div>')
			})
		</script>
	</body>
</html>